@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
    font-family: 'Roboto', sans-serif; 
}

body {
    background-color: #5361a5;
}
div { 
    background-color: #f8f7f5;
    padding: 10px 20px 30px 40px;
    border: 2px solid black;
    margin: 20px 40px;
}

h2{
    color:#f8f7f5;
}
h3{
    color: #0f2675;
}